- if @address
  %p
    = @address.street_1
    %br/
    = @address.street_2 unless @address.street_2.blank?
    %br/
    = "#{@address.city}, #{@address.state}  #{@address.zip}"
- else
  .notify You do not have any addresses.
  %span= link_to "Create One.", new_address_path, 'data-remote-content' => true, :remote => true